packages:
  yum:
    mod24_ssl : []

container_commands:
  1killhttpd:
    command: "killall httpd"
    ignoreErrors: true
  2wait:
    command: "sleep 3"

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-059189407167"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
     -----BEGIN CERTIFICATE-----
     MIIEBjCCAu4CCQC8DQR60mTYUTANBgkqhkiG9w0BAQUFADCBxDELMAkGA1UEBhMC
     VVMxEzARBgNVBAgMCk5ldyBKZXJzZXkxGTAXBgNVBAcMEFdlc3QgTG9uZyBCcmFu
     Y2gxGDAWBgNVBAoMD01vbm1vdXRoIFZhbGxleTEPMA0GA1UECwwGcmV0YWlsMTQw
     MgYDVQQDDCs6ZGV2LXRhbmRvb3IudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsu
     Y29tMSQwIgYJKoZIhvcNAQkBFhVzMTIyNDQ3NUBtb25tb3V0aC5lZHUwHhcNMTkx
     MjAyMDMxMDM3WhcNMjAxMjAxMDMxMDM3WjCBxDELMAkGA1UEBhMCVVMxEzARBgNV
     BAgMCk5ldyBKZXJzZXkxGTAXBgNVBAcMEFdlc3QgTG9uZyBCcmFuY2gxGDAWBgNV
     BAoMD01vbm1vdXRoIFZhbGxleTEPMA0GA1UECwwGcmV0YWlsMTQwMgYDVQQDDCs6
     ZGV2LXRhbmRvb3IudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMSQwIgYJ
     KoZIhvcNAQkBFhVzMTIyNDQ3NUBtb25tb3V0aC5lZHUwggEiMA0GCSqGSIb3DQEB
     AQUAA4IBDwAwggEKAoIBAQDSy4NJf+IEG6gwIT1gAotOCjUvypY2AsU32SNgw0wY
     12ifZUR5ZO3RiREqf6Eryi068VN/biMvywO0wT9PmAi2nP7eRLDqNlyrDFC1OKYg
     lGLcFSd2tcR1aojJpO+MlhHKOh026atMw1XcPslUN52n7kyUxnw2j3ABnTNmODP0
     1c+T7I4kxgRIQ4WGbxW3aDL/sCX95TJJ255vJVG9WNAZvtaZ9/YJVODtugsTY+fz
     XOX4/ELqlNOuZrd1smhjBNAZyAoGPJONnScK09uMKzUTjUVZ9VGeb5Afad3kREYS
     iv0pSxMDzTp2WggGPnj6snkL2ZeC8ai79gNqgGSkMAMvAgMBAAEwDQYJKoZIhvcN
     AQEFBQADggEBAC8MGYoPsEaaljCbf3Hv0TIF5WzNh7yfE9fT/+1K1OfuErO5UMr4
     hbtNujX1n1JUo4C0nUxa2T0w5AVZr8nOYkTIee50PIHywjih7ytZcONlBI3y/mVg
     CLGtRTC3FUbKlt1uMzJ6IYIUDJDRBkcbNJN6ZSfr7/B6ZVE9oxsLM0Ur15J58Gqy
     h8vDSXbVyiJKN74lBEGl4jRyFuZIgXmj1WLwj7tuis1COEe/B6lkNSg3MSdoQrUs
     NwxPuJGZ+IJF0Ps6KvFGkp4HA7XhTi2FMRVYdTvIuuiy4MMGR091zi3m0J/4RZZd
     QIgVnXbR6lzNdtyNXqcQQv2WFA6HppyBpLk=
     -----END CERTIFICATE-----

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-059189407167.s3.amazonaws.com/sslkey.pem